@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

#chat::-webkit-scrollbar {
  display: "none";
}
#chats {
  scrollbar-width: none;
  -ms-overflow-style: none,
}


#page {
  display: grid;
  width: 100%;
  height: 70vh;
  grid-template-areas: 
  "header header header"
  "messages messages messages"
  "messages messages messages"
  "messages messages messages"
  "messages messages messages"
  "messages messages messages"
  "messages messages messages"
  "messages messages messages"
  ". input .";
}

#page > #header {
  grid-area: header;
}

#page > #chats {
  grid-area: messages;
}

#page > #input {
  grid-area: input;
}